@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Lab-28</h1>
        <a class="nav-link" asp-area="" asp-controller="Home" asp-action="DisplayCards">Draw Five Cards</a>
    </div>
